.table  {
    background-color: grey; 
    padding: 10px 20px 10px 20px; 
    border: solid 4px lightgray;
    text-align: center;
    color: lightgray;
}
.ET     {   
    font-size:30px;
    border:dashed 8px lightgray;
    border-radius: 25px; 
    background-color: grey;
}
.DT     {
    width: 90px;
    height: 30px;
    background-color: grey; 
    text-align: center;
    border: solid lightgray 6px; 
    border-radius: 40px 0 0 0;
}
.S      {
    background-color: grey;
    border: lightgray 3px solid; 
    border-radius: 10px; 
}

.timeday {
    background-color: grey; 
    text-align: center;
    border: solid lightgray 4px; 
    width: 95px;
}